{% extends "auth/_form_shell.html" %}
{% block title %}Choose a new password{% endblock %}
{% block form_title %}Choose a new password{% endblock %}
{% block form_subtitle %}This link works once. Setting a password signs out any
  other devices.{% endblock %}

{% block form_fields %}
  <div class="mb-3">
    <label class="form-label" for="password">New password</label>
    <input class="form-control" type="password" id="password" name="password"
           autocomplete="new-password" minlength="10" required autofocus>
    <div class="form-text text-2">At least 10 characters.</div>
  </div>

  <button class="btn btn-primary w-100" type="submit">Set new password</button>
{% endblock %}

{% block form_footer %}
  <a href="{{ url_for('auth.login') }}">Back to sign in</a>
{% endblock %}
